body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding:0;
  background-color:black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background-image: url('components/Images/backgroundImage.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  width:auto;
  height:900px;
}

@font-face {
  font-family: Castro;
  src: url(CastroScript_PERSONAL_USE_ONLY.ttf);
}

@font-face {
  font-family: Mont;
  src: url(Montserrat-VariableFont_wght.ttf);
}
.HeaderContainer{
  display: none;
  flex-direction:row;
  padding:20px;
  padding-right:50px;
  padding-left: 20px;
  height: 40px;
  width:auto;
  background-color: rgba(9, 8, 8, 0.5);
  justify-content: space-between;
  color:white;
  position: sticky;
  top:0;
  
}

.HeaderWrapper{
  display:flex;
  gap: 20px;
}

#PortTitle{
  font-family:Castro;
  font-size:40px;
  cursor:pointer;
}

.HeaderWrapper span{
  cursor:pointer;
  font-family: Mont;
  font-size:20px;
}

.hr-span{
  margin-top:0;
  border: 3px solid lightblue;
  border-radius: 3px;
  width:1px;

}

.IntroContainer{
  font-family:Mont;
  margin-top:300px;
  margin-left:90px;
  color:white;
  display:none;

}


#Intro-1{
  font-size:30px;
  letter-spacing: 2px;
}
#Intro-2{
  font-family: Mont;

}

#ResumeBtn{
  border: 1px solid white;
  padding:12px;
  border-radius:25px;
  width:fit-content;
  color:white;
  font-size: 16px;
  letter-spacing: 3px;
  cursor:pointer;
  padding-right: 20px;
  padding-left: 20px;
}

h1{
  color: white;
  text-align: center;
  margin-top: 40px;
}

.AboutWrapper{
  display:flex;
  flex-direction:column;
  margin-left:auto;
  margin-right:auto;
  flex-wrap:wrap;
  margin-top:30px;
  justify-content: center;


}

.AboutContent{
  color:white;
  font-family:Mont;
  padding:20px;
  width:60%;
  margin-left: auto;
  margin-right:auto;
}
.AboutContainer{
  background-color: black;
  margin-top:0;
}

.AboutTitle{
  font-size: 30px;
  color:white;
  text-align:center;
  
}

.About-hr{
  margin-top: -22px;
  border-radius: 2px;
  border: 3px solid lightblue;
  width:1px;
}

h2{
  color: white;
  text-align:center;
}

.verge{
  font-family:Castro;
  margin-right:auto;
  margin-left:auto;
  color:white;
  font-size: 35px;
}


.circle{
  width: 100px;
  height:100px;
  background:white;
  margin-left:auto;
  margin-right:auto;
  border-radius: 50px;
}

.EyeContainer{
  display:flex;
  flex-direction:row;
  gap:5px;
  width:5px;
  height:5px;
  border: 2px solid black;
}



